.header {
  --header-background-color: #ffffff;
  --color-link-text-active: #0000ee;
}
@media (prefers-color-scheme: dark) {
  .header {
    --header-background-color: #1a202c;
    --color-link-text-active: #87e7ee;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--header-background-color);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255 255 255 / 6%);
  padding: 0.5rem 1.5rem;
}

.header ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

.header ul li {
  padding: 0.5rem;
  border-bottom: 2px solid transparent;
  color: var(--color-link-text-active);
}
.active {
  padding: 0.5rem 0;
  border-bottom: 2px solid;
}

.header ul li a,
.active a {
  padding: 0.5rem;
  text-decoration-line: none;
}
.active a {
  color: var(--color-link-text-active);
}
